# Ignore __pycache__ directories
__pycache__/

# Ignore Python compiled files
*.pyc

# Ignore Python optimized files
*.pyo

# Ignore Python dynamic modules
*.pyd

# Ignore Python virtual environments
.Python
venv/
env/
ENV/

# Ignore build directories
build/